<!-- Título -->
<h2 class="text-2xl font-bold text-center uppercase tracking-wide mt-10">
  {{ seccion.replace('-', ' ') }}
</h2>

<!-- Galería en filas flexibles -->
<div
  *ngFor="let fila of obtenerFilas(imagenes)"
  class="flex flex-wrap justify-center gap-8 max-w-8xl mx-auto p-8"
>
  <div
    *ngFor="let imagen of fila"
    class="relative w-full sm:w-[45%] md:w-[30%] max-w-[600px] h-72 rounded-xl overflow-hidden shadow-xl cursor-pointer group"
    (click)="alternarImagen(imagen.index)"
  >
    <!-- Imagen ANTES -->
    <img
      [src]="imagen.antes"
      alt="imagen antes"
      class="absolute inset-0 w-full h-full object-cover transition-opacity duration-1000 ease-in-out"
      [class.opacity-100]="imagen.mostrandoAntes"
      [class.opacity-0]="!imagen.mostrandoAntes"
    />

    <!-- Imagen DESPUÉS -->
    <img
      [src]="imagen.despues"
      alt="imagen después"
      class="absolute inset-0 w-full h-full object-cover transition-opacity duration-1000 ease-in-out"
      [class.opacity-100]="!imagen.mostrandoAntes"
      [class.opacity-0]="imagen.mostrandoAntes"
    />
  </div>
</div>
